.searchTitle {
    display: flex;
    width: 50%;
    justify-content: center;
    margin: 12px 0 0 0;
}

.cardProduct a {
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.card {
    height: 15%;
    max-width: 60%;
    border: 1px solid #585858;
    display: flex;
    align-items: center;
    margin: 20px auto;
    border-radius: 3px;
    flex: 1;
}

.imageSearch img {
    object-fit: contain;
    width: 200px;
    height: 200px;
    margin-left: 15px;
}

.corpCard {
    padding: 20px;
    font-size: 18px;
}

.titleCar,
.subTitle,
.priceCar,
.temp {
    padding: 5px;
}

.temp {
    display: flex;
    align-items: center;
    gap: 5px;
}

.nothingProdcut{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 298px);
}

@media (max-width: 480px) {
    .cardProduct {
        width: 100%;
    }

    .searchTitle {
        width: 42%;
    }
}