.ordersEndList {
    width: 50%;
    margin: 15px auto;
    min-height: calc(100vh - 295px);
}

.choiceStatus {
    gap: 0 5rem;
}

.choiceStatus button {
    padding: 4px 14px;
    background-color: #fff;
    border: 1px solid #585858;
    border-radius: 9px;
    cursor: pointer;
}

.choiceStatus button:hover {
    border: none;
    color: #fff;
    background-color: #00f;
}

.secondBtn {
    margin-left: 5px;
}

.titleMyOrdersList {
    font-size: 19px;
    margin-bottom: 10px;
    font-weight: bold;
}

.dadOrder {
    border: 1px solid #585858;
    margin: 5px 0;
}

.orderCardList {
    display: flex;
    justify-content: space-around;
    margin: 5px 0;
}

.orderInfoList {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.informationOrderList {
    width: 50%;
}

.informationOrderList img {
    width: 120px;
    height: 120px;
    object-fit: contain;
    margin-right: 15px;
}

.segPartList {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    text-align: center;
}

.dataNumberOrderList {
    font-size: 13px;
}

.orderEnd{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin: 10px 0;
}

@media (max-width: 1080px) {
    .ordersEndList {
        width: 95%;
    }

    .segPartList {
        width: 30%;
    }

    /* .orderEnd{
        flex-direction: column;
    } */
}