.centralSearchAlt {
    display: flex;
    flex-direction: column;
}

.searchTitleAlt {
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin: 12px auto;
}

.cardProductAlt a {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: #585858;
}

.corpCardAlt:hover {
    color: rgb(25, 0, 255);
}

.cardAlt {
    height: 15%;
    max-width: 60%;
    border: 1px solid #585858;
    display: flex;
    align-items: center;
    margin: 20px auto;
    border-radius: 3px;
    flex: 1;
}

.etapa1 {
    display: flex;
    align-items: center;
}

.imageSearchAlt img {
    object-fit: contain;
    width: 200px;
    height: 200px;
    margin-left: 15px;
}

.corpCardAlt {
    padding: 20px;
    font-size: 18px;
}

.titleCarAlt,
.subTitleAlt,
.priceCarAlt,
.tempAlt {
    padding: 5px;
}

.tempAlt {
    display: flex;
    align-items: center;
    gap: 5px;
}

.nothingProdcutAlt {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 298px);
}

.imageAlt {
    display: flex;
    gap: 5px;
    align-self: self-start;
}

.paginationList {
    display: flex;
    margin: 0 auto;
    margin-bottom: 15px;
    width: 200px;
    justify-content: space-evenly;
}

.paginationList button {
    padding: 4px 14px;
    background-color: #fff;
    border: 1px solid #585858;
    border-radius: 9px;
    cursor: pointer;
}

.paginationList button:hover {
    border: none;
    color: #fff;
    background-color: #00f;
}

@media (max-width: 480px) {
    .cardProductAlt a {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
    }

    .etapa1 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
    }

    .imageAlt {
        display: flex;
        gap: 5px;
        margin: 20px 0;
    }

    .searchTitleAlt {
        width: 95%;
    }

    .nothingProdcutAlt {
        text-align: center;
    }
}